body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h2 {
  text-decoration: underline;
}

#newGameButton {
  margin-top: 20px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  justify-content: center;
  margin: 20px auto;
}

.cell {
  border: black solid 1px;
  height: 50px;
  width: 50px;
}

#playerIcon {
  margin-top: 25px;
  margin-left: 15px;
  color: goldenrod;
}

.interestIcon {
  margin-top: 25px;
  margin-left: 20px;
  color: red;
}

#classModal {
  position: absolute;
  top: 40%;
  left: 40%;
  border: 1px solid black;
  padding: 10px;
  display: none;
  text-align: center;
}

.spacer {
  height: 40px;
}

.playerClassChoice {
  font-size: 1.3em;
}

#validClassButton {
  margin-top: 20px;
}