body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h2 {
  text-decoration: underline;
}

#newGameButton {
  margin-top: 20px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  justify-content: center;
  margin: 20px auto;
}

.cell {
  border: black solid 1px;
  height: 50px;
  width: 50px;
}

#playerIcon {
  margin-top: 25px;
  margin-left: 15px;
  color: goldenrod;
}

.interestIcon {
  margin-top: 25px;
  margin-left: 20px;
  color: red;
}

#classModal {
  position: absolute;
  top: 30%;
  left: 30%;
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  display: none;
  text-align: center;
  z-index: 10;
}

.playerClassChoice {
  display: block;
  font-size: 1.3em;
  padding: 10px;
  margin-top: 20px;
}

#validClassButton {
  margin-top: 20px;
}

tr.selected {
  border: 2px dotted black;
}

#statModal {
  position: absolute;
  top: 30%;
  left: 31.6%;
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  text-align: center;
  z-index: 9;
}

.modalSlide { 
  animation: slide-in 1.5s ease-in-out;
  animation-fill-mode: forwards;  
}

@keyframes slide-in {
  from {
    translate: 0 0;
  }

  to {
    translate: 180px 0;
  }
}

.progress {
  width: 100px;
}