body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#newGameButton {
  margin-top: 20px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  justify-content: center;
  margin: 20px auto;
}

.cell {
  border: black solid 1px;
  height: 50px;
  width: 50px;
}

#playerIcon {
  margin-top: 25px;
  margin-left: 15px;
  color: goldenrod;
}

.interestIcon {
  margin-top: 25px;
  margin-left: 20px;
  color: red;
}